.review {
    background-image: url(images/dude-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100px;
    min-height: 733px;
    &__container {
        max-width: $ContainerWidth;
        margin: 0 auto;
        display: flex;
        align-items: center;
        height: 100%;
        flex-direction: column;
        color: $MainColor;
        @include _992 {
            justify-content: center;
        }
    }
    &__contentbox {
        display: flex;
        flex-direction: row;
        width: 100%;
        @include _992 {
            flex-direction: column;
        }
    }
    &__title {
        font-family: $SecondFont;
        font-size: rem-calc($MainFontSize + 20px);
        margin-bottom: 100px;
        margin-top: 121px;
        font-weight: 400;
        text-align: center;
        @include _992 {
            margin: 20px 0;
        }
    }
    &__img {
        width: calc-percent(1110, 445);
        height: auto;
        @include _992 {
            width: calc(55% + 30px);
            height: auto;
            margin: 0 auto;
        }
        @include _768 {
            width: calc(90% + 30px);
            height: auto;
        }
    }
    &__content {
        width: 59.9%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #333333;
        padding-left: 60px;
        @include _992 {
            width: 55%;
            height: auto;
            margin: 0 auto;
            padding-bottom: 20px;
            padding-right: 20px;
            margin-top: 20px;
            padding-left: 10px;
        }
        @include _768 {
            width: 90%;
            margin: 20px auto;
        }
    }
    &__name {
        font-family: $MainFont;
        font-size: rem-calc($MainFontSize + 4px);
        font-weight: 400;
    }
    &__descr {
        font-family: $MainFont;
        font-size: rem-calc($MainFontSize);
        line-height: $MainLineHeight;
        font-weight: 400;
        color: #e8e8e8;
        margin: 0;
        max-width: 100%;
        @include _992 {
            text-align: justify;
        }
    }
}
.fa-quote-left {
    color: $ThirdColor;
    vertical-align: super;
}
