$MainColor: #ffffff;
$SecondColor: #999999;
$ThirdColor: #5474fd;

$MainFontSize: 16px;
$SecondFontSize: $MainFontSize - 2px;
$MainLineHeight: (26 / 16) * 1em;

$MainFont: "Josefin Sans", sans-serif;
$SecondFont: "Aleo", serif;

$ContainerWidth: 1110px;

$MenuColor: #5474fd;
